# Discord Bot Token
BOT_TOKEN=YOUR_BOT_TOKEN_HERE
MASTER_KEY_ID=YOUR_ID_HERE
# PostgreSQL Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME_DEV=birthday_bot_dev
DB_NAME_TEST=birthday_bot_test
DB_NAME_PROD=birthday_bot_prod 